#container{
    width:800px;
    /*border:2px solid grey;*/
    margin:0 auto;

}
#header{
    height: 100px;
    padding: 10px 0;
}
#brand{
    float: left;
}
h1 a{
    font-size: 50px;
    font-weight: 100;
    color: #279190;
    text-decoration: none;
}

#searchbox{
    float: right;
    background: linear-gradient(#3b5998,#8b9dc3);
    width: 400px;
    height: 50px;
    padding: 20px 10px 0 20px;
    margin-top: 20px;
}
.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size:15px;
    color: #94040C;
    background: white url(/TutorialWebsite/images/search.png) right center no-repeat;
}
.submit{
    float: right;
    padding:5px;
    font-weight: bold;
    background:	#dfe3ee;
    color: 	#3b5998;
    font-size: 15px;;

}
.clear{
    clear: both;
}
ul{
    list-style: none;
}

#menu ul li{
   float: left;
   padding: 0 20px;
   height: 20px;
   border-right: 1px solid #dfe3ee;
}
#menu{
    height: 70px;
    background: linear-gradient(#3b5998,#8b9dc3);
    padding: 7px 0;
}


#menu ul li a{
   text-decoration: none;
   text-transform: uppercase;
   font-size: 15px;
   color: #dfe3ee;
   line-height: 30px;
   -webkit-transition: font-size 0.3s ease;
   -moz-transition: font-size 0.3s ease;
   -o-transition: font-size 0.3s ease;
   -ms-transition: font-size 0.3s ease;
   transition: font-size 0.3s ease;
}
#menu ul li:last-child{
    border-right: none;
}

#menu ul li a:hover,#menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color:#3b5998;

}

#introduction{
    background: linear-gradient(#dfe3ee,#3b5998);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3{
    font-size: 30px;
    color:#3b5998;
    font-weight: normal;
}

#introduction p{
    font-size: 20px;
    color: #dfe3ee;
    text-align: justify;
}

.sidebar{
    height: 500px;
    width: 350px;
    border: 1px solid #666464;
    border-radius: 20px;
    padding: 10px 20px; 
}
.sidebar h3{
    color:#3b5998;
    font-size: 20px;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color:purple;
    -webkit-transition: font-size 0.3s ease;
   -moz-transition: font-size 0.3s ease;
   -o-transition: font-size 0.3s ease;
   -ms-transition: font-size 0.3s ease;
   transition: font-size 0.3s ease;
}

.sidebar ul{
    padding-top: 8px;
}
#left-sidebar ul li{
padding: 4px 0 4px 10px;
list-style-image: url(/TutorialWebsite/images/arrow.png);
}

#right-sidebar ul li{
    background: url(/TutorialWebsite/images/tick.png) no-repeat left center;
    padding: 10px 0 10px 50px;
 
    }


.sidebar ul li a:hover,.sidebar ul li a.active{
     text-decoration: none;
     color: rebeccapurple;
     font-size: 20px;
     font-weight: bold;

}

#left-sidebar{
   float: left;
}

#right-sidebar{
   float: right;
}

.footer{
height: 60px;
background: linear-gradient(#dfe3ee,#3b5998);
padding: 10px 30px;
margin-top: 10px;
}